# Build output
dist/
.astro/

# Dependencies
node_modules/

# Environment variables
.env
.env.production
.env.local
*.env

# Operating System files
.DS_Store
Thumbs.db

# Netlify local dev
.netlify/

# Editor directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
